.errorLogin {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.msg {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

#login-box {
    width: 300px;
    padding: 20px;
    margin: 100px auto;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 1px solid #000;
}


table{
    font-size: 20px;
    padding-left: 20px;
}

input[type="text"],input[type="password"], input[type="submit"], select{
    height : 30px;
    border-radius: 5px;
    margin : 2px;
    font-size: 15px;
}

input[type="submit"]{
    min-width: 90px;
    height : 40px;
}

.error{
    color : #ff0000;
}
